# --- Python Genel ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- PyCharm Ayarları (Başkasına gitmemeli) ---
.idea/

# --- Sanal Ortam Klasörleri ---
env/
venv/
.env
.venv
churn_env/
churn_fix/

#Streamlit
.streamlit/secrets.toml

